.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}
.masthead {
    padding: 6em 0;
    background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: none;
  border-top: solid 1em #1B0F28;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #A6774B;
}
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.content-footer,
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.content-footer {
  background-color: #0A0B0D;
  color: white;
    bottom: 0;
  
}

.social > li {
    display: inline-block;
}

.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: #508A8E
}

a:visited {
    text-decoration: none;
    color: #71A0A8
}

a:hover {
    text-decoration: underline;
}

h2 {
  color: #A6774B
}

body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
}